* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gabarito', sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: solid black 1px;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.navbar__s1__Title {
  color: #a435f0;
}

.navbar__s2 {
  padding: 10px;
  border-radius: 30px;
  border: solid black 1px;
  width: 60%;
  display: flex;
  gap: 10px;
  background-color: white;

}

.navbar__s2__input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;

}

.navbar__s2__input:focus {
  outline: none;
}

.navbar__s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}


.mylearning {
  position: relative;
  cursor: pointer;
}

.mylearning__popup {
  position: absolute;
  width: 100px;
  right: 0px;
  top: 150%;
  background-color: white;
  border: solid black 1px;
  padding: 20px;
  display: none;
}

.mylearning:hover .mylearning__popup {
  display: block;
}


.categories,
.p {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  padding: 10px;
  flex-wrap: wrap;
}

.categories p {
  background-color: #a435f0;
  color: white;
  border-radius: 30px;
  padding: 10px;
  border: solid #a435f0 1px;
}
.categories p:hover{
  transition: 2s;
  background-color: transparent;
  color: #a435f0;
  border: solid #a435f0 1px;
  cursor: pointer;
}
.sale-image {
  width: 100%;
  position: relative;
}

.flas_sale {
  background-color: white;
  width: 500px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 20px;
  border: solid black 2px;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes zoom{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.recommended {
  padding: 10px;

}

.recommended__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.course-card {
  width: 300px;
}

.course-card__image {
  width: 100%;
}

.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.topics__container P {
  border: solid gray 2PX;
  padding: 10PX;
  flex-grow: 1;
  flex-basis: 25%;

}

.footer {
  padding: 30px;
  background-color: black;
  color: white;
}

.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.footer__one {
  display: flex;
  gap: 10PX;
}

.footer__one P {
  margin: 20PX;
}

.footer__two {
  display: flex;
  justify-content: space-between;
  margin: 20PX;
  text-align: center;
}